<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <hooks>
      <hook type="Sitecore.Support.Hooks.FixSelectMediaDialog, Sitecore.Support.96838" />
    </hooks>
  </sitecore>
</configuration>